/*定义全局css*/
body {

	/* 蓝 */
    /* 1 全局公共主颜色 */
    --publicMainColor: #06A9FF;
    /* 1 全局公共副颜色 */
    --publicSubColor:  #3A78F1;

}

/*开始==================================导航栏样式2=========================================开始*/
#iframe {
	width: 100%;
	margin-top: 80px;
}
#header {
	height: auto;
	background: #fff;
	border-bottom: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
/*导航栏边框颜色*/
#header .nav-top {
	display: flex;
	align-items: center;
	padding: 0 20px;
	font-size: 16px;
	color: #2a8a15;
	box-sizing: border-box;
	height: 0;
	background-color: #f7f7f7;
	box-shadow: 0 1px 6px var(--publicMainColor,#808080);
	justify-content: space-between;
	position: relative;
}

#header .nav-top-img {
	width: 124px;
	height: 40px;
	padding: 0;
	margin: 0;
	border-radius: 6px;
	border-width: 0;
	border-style: solid;
	border-color: rgba(0,0,0,.3);
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}

#header .nav-top-title {
	line-height: 40px;
	font-size: 20px;
	color: #333;
	padding: 0 10px;
	margin: 0 10px;
	border-radius: 6px;
	border-width: 0;
	border-style: solid;
	border-color: rgba(0,0,0,.3);
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}
/*导航栏字体颜色*/
#header .nav-top-tel {
	line-height: 40px;
	font-size: 20px;
	color: #333;
	padding: 0 10px;
	margin: 0;
	border-radius: 6px;
	border-width: 0;
	border-style: solid;
	border-color: rgba(0,0,0,.3);
	box-shadow: 0 0 6px rgba(0,0,0,.3);
}
/*导航栏背景颜色*/
#header .navs {
	display: flex;
	padding: 0 20px;
	align-items: center;
	box-sizing: border-box;
	height: 80px;
	background-color: var(--publicMainColor,#808080);
	justify-content: space-between;
}
/*标题字体颜色*/
#header .navs .title {
	width: auto;
	line-height: 40px;
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
	padding: 0 10px;
	margin: 0 5px;
	border-radius: 6px;
	border-width: 0px;
	border-style: solid;
}
/*未点击时标签边框颜色*/
#header .navs li {
	display: inline-block;
	width: auto;
	line-height: 30px;
	padding: 0.2em 1em;
	margin: 1px 5px;
	color: #dfdfdf;
	font-size: 16px;
	border-radius: 6px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--publicSubColor,#808080);
	background-color: $template2.front.base.nav.list.item.backgroundColor;
	text-align: center;
}
/*点击后导航栏所选模块背景和边框颜色*/
#header .navs li.current {
	color: rgb(241, 255, 254);
	font-size: 16px;
	border-radius: 6px;
	border-width: 2px;
	border-style: solid;
	border-color: var(--publicSubColor,#808080);
	background-color: var(--publicSubColor,#808080);
}
/*鼠标放上后字体颜色*/
#header .navs li:hover {
	color: rgb(241, 255, 254);
	font-size: 16px;
	border-radius: 6px;
	border-width: 2px;
	border-style: solid;
	border-color: rgba(241, 255, 254);
	background-color: $template2.front.base.nav.list.hoverBox.backgroundColor;
}
#header .navs li a{
	color: inherit;
}
#header .navs li.current a{
	color: inherit;
}
#header .navs li a:hover{
	color: inherit;
}
/*结束==================================导航栏样式2=========================================结束*/

/*home页面数据样式 开始*/
/*home页面数据样式 结束*/

/*list页面数据样式 开始*/
	/*list页面数据样式 普通数据样式 开始*/
	/*list页面数据样式 普通数据样式 结束*/
/*list页面数据样式 结束*/


/* 主页 轮播图选择框颜色 主*/
#test1 .layui-carousel-ind li.layui-this {
	background-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 6px var(--publicMainColor, #808080);
}
/* 个人中心轮播图 */
#swiper .layui-carousel-ind li.layui-this {
	background-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 6px var(--publicMainColor, #808080);
}

/* 大部分颜色 主 */
.main_color {
	color: var(--publicMainColor, #808080);
}
/* 边框颜色 主 */
.main_borderColor{
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 6px var(--publicMainColor, #808080);
}
/* 背景颜色 主 */
.main_backgroundColor {
	background-color: var(--publicMainColor, #808080);
}
/* 登录页面单选按钮颜色 主 */
.l-redio .layui-form-radioed>i {
	font-size: 16px;
	color: var(--publicMainColor, #808080);
}
.l-redio .layui-form-radioed>div {
	font-size: 14px;
	color: var(--publicMainColor, #808080);
}

/* 大部分颜色 副 */
.sub_color {
	color: var(--publicSubColor, #808080);
}
/* 边框颜色 副 */
.sub_borderColor{
	border-color: var(--publicSubColor, #808080);
	box-shadow: 0 0 6px var(--publicSubColor, #808080);
}
/* 背景颜色 副 */
.sub_backgroundColor {
	background-color: var(--publicSubColor, #808080);
}

/* 分页颜色 */
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: var(--publicMainColor, #808080);
}

/* 评论和简介背景颜色 */
.detail-tab .layui-tab-card>.layui-tab-title .layui-this {
	background-color: var(--publicMainColor, #808080);
	color: #fff;
	font-size: 14px;
}
#swiper .layui-carousel-ind li.layui-this {
	background-color: var(--publicMainColor, #808080);
}

/* 个人中心 菜单点击颜色*/
.center-container .layui-nav-tree .layui-nav-item.layui-this {
	background-color: var(--publicSubColor, #808080);
}
/*个人中心 菜单鼠标移上颜色*/
.center-container .layui-nav-tree .layui-nav-item:hover {
	background-color:var(--publicMainColor, #808080);
}
/*个人中心 菜单下线颜色*/
.center-container .layui-nav-tree .layui-nav-item {
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 0px var(--publicMainColor, #808080);
}
/*个人中心 输入框中字体颜色和边框颜色*/
.right-container .input .layui-input {
	color: var(--publicMainColor, #808080);
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 0px var(--publicMainColor, #808080);
}
/*个人中心 下拉框中字体颜色和边框颜色*/
.right-container .select .layui-input {
	color: var(--publicMainColor, #808080);
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 0px var(--publicMainColor, #808080);
}
/*个人中心 未知颜色*/
.right-container .date .layui-input {
	border-color: var(--publicMainColor, #808080);
	box-shadow: 0 0 0px var(--publicMainColor, #808080);
}

/* 前台elementUI得下拉框内容颜色和边框颜色修改 */
/* start */
.el-select-dropdown__item.selected {
	color: var(--publicMainColor, #808080);
	font-weight: bold;
}
.el-select .el-input.is-focus .el-input__inner {
	border-color: var(--publicMainColor, #808080);
}
.el-input--suffix .el-input__inner{
	color:var(--publicMainColor, #808080);
	border-color: var(--publicMainColor, #808080);
}
.el-select .el-input__inner:focus {
	border-color: var(--publicMainColor, #808080);
}
/* end */
/*=====================富文本框字体样式===========================================================================*/

.ql-size-small {
	font-size: 10px;
}
.ql-size-large {
	font-size: 18px;
}
.ql-size-huge {
	font-size: 32px;
}